<%= render 'partials/teacher_menu' %>

  <%= form_tag teacher_path(current_teacher), method: :patch do %>
    <%= label :name, "Cohort" %>
    <%= select "cohort", "id", @cohort_options, {selected: params[:cohort] || (current_teacher.cohort || 0), :include_blank => "Select a cohort"} %>
    <%= submit_tag'Set as default' if Cohort.count > 0 %>
  <% end %>
  <br>
<%= link_to("Add Cohort", new_cohort_path , class: "btn btn-default") %>
<table class="table table-hover">
  <th>Name</th><th>Actions</th>
  <% @cohorts.each do |cohort| %>
    <tr>
      <td><%= cohort.name %></td>
      <td><%= link_to("Edit", edit_cohort_path(cohort), class: "btn btn-default") %>
      <%= link_to("Delete", cohort_path(cohort), {method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default"}) %></td>
    </tr>
  <% end %>
</table>
</div>
