<%= render 'partials/teacher_menu' %>
<div class="border-form-div">
	<%= form_for @twilioinfo do |f| %>
	<%= f.label :phone_number, "Phone Number" %>
	<%= f.text_field :phone_number, autofocus: true %>
	<br />
	<%= f.label :phone_number, "Enable" %>
	<%= f.check_box :enabled %>
	<%= f.submit "Update Twilio Info", class: "btn btn-edit" %>
	<% end %>
</div>
</div>