<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <%= image_tag "sl8.png" %>
      </a>
      <a class="navbar-brand" href="/requests">*Waiting List*</a>
      <a class="navbar-brand" href="/students/logout">*Log Out*</a>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <% if teacher_signed_in? %>
          <li><%= link_to("Signed in as #{current_teacher.email}", teachers_path) %></li>
          <li><%= link_to("Sign Out", destroy_teacher_session_path, method: :delete) %></li>
        <% end %>
        <% if current_student %>
          <li><%= link_to("Signed in as #{current_student.name}", students_dashboard_path) %></li>
          <li><%= link_to("Logo Out", students_logout_path, method: :delete) %></li>
        <% end %>
      </ul>
  </div><!-- /.container-fluid -->
</nav>

<% flash.each do |key, value| %>
  <div class="alert <%= flash_class(key) %>"><button type="button" class="close" data-dismiss="alert">&times;</button><%= value %></div>
<% end %>