<div class="col-md-3">
	<div class="btn-group-vertical">
		<%= link_to("Dashboard", dashboard_teachers_path , class: 'btn btn-default') %>
		<%= link_to("Cohorts", cohorts_path , class: 'btn btn-default') %>
		<%= link_to("Students", students_teachers_path , class: 'btn btn-default') %>
		<%= link_to("Categories", categories_path , class: 'btn btn-default') %>
		<%= link_to("Global Statistics", statistics_teachers_path , class: 'btn btn-default') %>
		<%= link_to("Account Settings", edit_teacher_registration_path , class: 'btn btn-default') %>
	</div>
</div>

<div class="col-md-9">