<div class="indent_request">
  <h2>Editing post</h2>

  <%= form_for(@request) do |f| %>

  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :category %>
    <div class="styled-select">
      <%= f.select :category, Category.all.map { |category| [category.name, category.id] }, {selected: @request.category_id || 0, :include_blank => "Select a category"} %>
    </div>
  </p>
  <p>
    <div class="styled-submit">
      <%= f.submit "Update" %>
    </div>
  </p>
  <p>
    <div class="styled-back">
      <%= link_to 'Back', requests_path %>
    </div>
  </p>
  <% end %>
</div>