<% unless current_teacher %> 
  <%= link_to 'Create request', '/requests/new', class: 'btn btn-primary' %>
<% end %>
<ul id='example'>
</ul>

<div class="waitingList">
  <div class="curtain">
  </div>
  <div class="scroll">
    <ul>
      <% if @requests.any? %>
      <% @requests.each_with_index do |request, i| %>
      <li>
        <div class="waiting">
          <h3><%= request.student.name %></h3>
          <div class="position">
            <%= i + 1 %>
          </div>
          <p class="time"><%= request.created_at.strftime( '%l:%M%p' ) %></p>
          <p class="category"><%= request.category_name %></p>
          <div class="gravatar">
            <%= image_tag request.student.gravatar_url %>
          </div>
          <div class="codeSnippet"><%= request.description %></div>
          <div class="solveTab">
            <% if request.student == current_student %>
              <%= link_to 'Edit', edit_request_path(request), method: :get, class: 'btn btn-danger' %>
              <%= link_to 'Delete', request_path(request), method: :delete, class: 'btn btn-danger' %>
            <% elsif current_teacher %>
              <%= link_to 'Edit', edit_request_path(request), method: :get, class: 'btn btn-danger' %>
              <%= link_to 'Delete', request_path(request), method: :delete, class: 'btn btn-danger' %>            
            <% end %>
            <a class='close' href='#'>SOLVED</a>
          </div>
        </div>
      </li>
      <% end %>
      <% else %>
      <h3>No requests</h3>
      <% end %>
    </ul>
  </div>
</div>
<br />


<script>
  $(document).ready(function(){

    $('.waiting').on('click', '.close', function() {
      $(this).parent().parent().remove();
    })

  })

  $(function() {
    $('.waiting').click(function() {
      $(this).find('waitingOpen').slideToggle();
    });
  });

</script>
