<%= link_to 'Create request', '/requests/new', class: 'btn btn-primary' %>

<div class="waitingList">
  <div class="scroll">
    <ul>
      <li>
        <% if @requests.any? %>
        <% @requests.each_with_index do |request, i| %>
        <div class="waiting">
          <h3><%= request.student.name %></h3>
          <div class="position">
          <%= i + 1 %>
          </div>
          <p class="left"><%= request.created_at.strftime( '%l:%M%p %e/%m' ) %></p>
          <p class="right"><%= request.category %></p>
          <%= image_tag request.student.gravatar_url %>
          <div class="codeSnippet"><%= request.description %></div>
          <p><%= link_to 'Edit', edit_request_path(request), method: :get, class: 'btn btn-danger' %>
            <%= link_to 'Delete', request_path(request), method: :delete, class: 'btn btn-danger' %></p>
            <div class="solveTab">
              <a class='close' href='#'>SOLVE</a>
            </div>
          </div>
          <% end %>
          <% else %>
          <h3>No requests</h3>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <br />


  <script>
    $(document).ready(function(){

      $('.waiting').on('click', '.close', function() {
        $(this).parent().parent().remove();
      })

    })
  </script>
