<div class="signInPage">
	<div class="mainLogo">
		<h1>Welcome to</h1>
		<%= image_tag "sl84.png" %>
	</div>
</div>

<div class="teacherSign text-center">
	<h1>Are you a teacher?</h1>
	<h3><%= link_to("Sign In", new_teacher_session_path, class: "buzz-out")  %></h3>
	<h3><%= link_to("Sign Up", new_teacher_registration_path, class: "buzz-out")  %></h3>
</div>

<div class="studentSign text-center">
	<h1>Are you a student?</h1>
	<h3><%= link_to("Sign in with GitHub", '/auth/github', class: "buzz-out")  %></h3>
</div>

<div class="tagline_panel">
	<h3>Improve productivity in the classroom</h3>
</div>

<div class="reading_panel">
	<div class="animation">
		<%= image_tag "waiting_first.png", {class: 'bummer'} %>
		<div class="banner_wrapper">
			<div class="banner">
				<%= image_tag "waiting_list1.png", {class: "first"} %>
				<%= image_tag "waiting_list2.png" %>
			</div>
		</div>
	</div>
</div>
<div class="tagline_panel">
	<h3>Analyse data and easily identify trends</h3>
</div>
