<%= render 'partials/teacher_menu' %>
  <h4>Welcome <%= @teacher.email %></h4>
  
  <%= form_tag teacher_path(current_teacher), method: :patch do %>
    <%= label :name, "Cohort" %>
    <%= select("cohort", "id", Cohort.all.collect {|cohort| [ cohort.name, cohort.id ] }) %>
    <%= submit_tag 'Set as default' if Cohort.count > 0 %>
  <% end %>

  <% if !@default %>
    <h2>Please set a default cohort</h2>
  <% else %>
    <h2><%= @default.name %></h2>
  <% end %>
</div>