<%= render 'partials/teacher_menu' %>
  <h4>Welcome <%= @teacher.name %></h4>

  <%= form_tag teacher_path(current_teacher), method: :patch do %>
    <%= label :name, "Cohort" %>
    <% @cohort_gen = Cohort.all.collect{|cohort| [ cohort.name, cohort.id ] } %>
    <% @cohort_gen.insert(0, ["Please select a cohort", 0]) %>
    <%= select("cohort", "id", @cohort_gen, {selected: params[:cohort] || (current_teacher.cohort || 0)},:onchange => 'changeCohort(this)') %>
    <%= submit_tag 'Set as default' if Cohort.count > 0 %>
  <% end %>

  <% if !@cohort %>
    <h2>Please set a default cohort</h2>
  <% else %>
    <h2><%= @cohort.name %></h2>
  <% end %>

  <% if @students.count > 0 %>
    <table class="table table-hover">
      <th>Student Name</th><th>Number of Requests</th>
      <% @students.each do |student| %>
        <tr>
          <td><%= student.name %></td>
          <td>0</td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <br><h3>No students registered in this cohort</h3>
  <% end %>
</div>