<%= render 'requests/list' %>
<%= render 'partials/teacher_menu' %>
<div class="Stats">
  <div class="text-center">
    <div class="col-md-5">
      <h3>Today's average wait time</h3>
      <div class="grey_box">
        <h2 class="vert_align"><%= pluralize(@stats[:todays_wait_time], 'Minute') %></h2>
      </div>
    </div>
    <div class="col-md-5">
      <h3>Today's average queue length</h3>
      <div class="grey_box">
        <h2 class="vert_align"><%= pluralize(@stats[:todays_queue], 'Student') %></h2>
      </div>
    </div>
  </div>

  <div class="text-center">
    <div class="col-md-5">
      <h3>Issues over last 7 days</h3>
      <%= pie_chart @stats[:pie], library: {backgroundColor: "#EDF0F1"} %>
    </div>
    <div class="col-md-5">
      <h3>Number of Issues over last 7 days</h3>
      <%= line_chart @stats[:weekly_requests], library: {backgroundColor: "#EDF0F1"} %>
    </div>
  </div>

  <div class="text-center">
    <div class="col-md-5">
      <h3>Number of requests solved</h3>
      <%= bar_chart @stats[:leaderboard], library: {backgroundColor: "#EDF0F1"} %>
    </div>
    <div class="col-md-5">
      <h3>Weekly Average</h3>
      <%= line_chart @stats[:weekly_issues_average_over_day], library: {backgroundColor: "#EDF0F1"} %>
    </div>
  </div>

</div>