<!DOCTYPE html>
<html>
<head>
	<title>
		Slate
	</title>

	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag 'application' %>

</head>
<body>
<%= render 'partials/header' %>
<% flash do |key, value| %>
  <div class="alert <%= flash_class(key) %>"><%= value %></div>
<% end %>

	<%= javascript_include_tag 'application' %>
	<%= yield %>
	<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css&skin=desert&autoload=false"></script>
</body>
</html>